<h2>Edit Page</h2>
<form action="celebrities/{{id}}" method="POST">

<label>Name:</label>
<input name="name" value="{{celebrity.name}}">

<label>Occupation:</label>
<input name="occupation" value="{{celebrity.occupation}}">

<label>Catchphrase:</label>
<input name="catchPhrase" value="{{celebrity.catchPhrase}}">

<button>Edit</button>
</form>