<h2>List of celebrities</h2>

<ul>
    {{#each celebrities}}
        <li>{{this.name}}</li>

        <a href="/celebrities/{{id}}">DetailsID</a>


        <form action="/celebrities/{{id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    {{/each}}

</ul>

<a href="/celebrities/new">Create</a>