<h2>List of celebrities</h2>

<ul>
    {{#each celebrities}}
        <li>{{this.name}}</li>
        {{!-- <a href="celebrities/show">Details</a> --}}
        <a href="celebrities/{{id}}">DetailsID</a>
    {{/each}}
</ul>
