<div class="page-listing">

  <h1>Celebrities</h1>

  {{#each celebrities}}
    <div>
      <h2>  
        <a href="/celebrities/{{id}}">{{this.name}}</a> - (<a href="/celebrities/{{id}}/edit">Edit</a> - <form action="/celebrities/{{id}}/delete" method="POST"><button>delete</button></form>)
      </h2>
    </div>
  {{/each}}

  <h4>
  [<a href="/celebrities/new">New Celebrity</a>]
  </h4>
</div>