<h2>Celebrities</h2>
{{#each celebritiesFromDb}}
<p>
    <a href="/celebrities/{{this.id}}">{{this.name}}</a>
    <form action="/celebrities/{{id}}/delete" method="POST"><button>Delete</button></form>
    <a href="/celebrities/{{id}}/edit">Edit</a>
</p>

{{/each}}