<h2>Create celebrities</h2>
<form action="/celebrities" method="POST">
    <label>Name<input type="text" name="name"></label>
    <label>Occupation<input type="text" name="occcupation"></label>
    <label>Catch Phrase<input type="text" name="catchPhrase"></label>
    <button>Submit</button>
</form>