<h2>CREATE</h2>
<form action="/celebrities/new" method="POST">

  <label>
    Name:
    <input type="text" request name="name">
  </label>

  <label>
    Occupation:
    <input type="text" name="occupation" />
  </label>
  
 
  <label>
    Catch Phrase:
    <textarea name="catchPhrase" cols="30" rows="2"></textarea>
  </label>
  

  <button>Create</button>
</form>