<h2>New celebrity</h2>
<form action="/celebrities/new" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="name">Occupation</label>
    <input type="text" name="occupation">
    <label for="name">CatchPhrase</label>
    <input type="textarea" name="catchPhrase">
    <button>Submit</button>
</form>