<form action="/celebrities" method="POST">

  <label>
    Name:
    <input type="text" name="name">
  </label>

  <label>
    Occupation:
    <input type="text" name="occupation" />
  </label>
  
 
  <label>
    Catch Phrase:
    <textarea name="catch-phrase" cols="30" rows="2"></textarea>
  </label>
  

  <button>Create</button>
</form>