<div class="cover">
    <div class="presentation">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <button class="btn"><a href="/celebrities">celebrities</a></button>
    </div>
</div>
