body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;

}

a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 700;
}

.cover-one {
  background-image: url('https://images.unsplash.com/photo-1505775561242-727b7fba20f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

.presentation-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  ;
  color: white;
  height: 300px;

}

.presentation-one p {
  font-size: 30px;
}

.btn {
  width: 150px;
  height: 50px;
  border-radius: 2em;
  background-color: #ffb142;
  border: 1px solid #ffb142;
}


.celebrities-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.celebrities {
  display: grid;
  grid-template-columns: 240px 240px;
}

.block-celebrities {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}