<h1>All movies</h1>
{{#each movies}}
   <h2> <a href="/movies/{{id}}">{{title}}</a></h2> 
   {{!-- -<a href="/celebrities/{{id}}/edit">Edit</a> - <form action="/celebrities/{{id}}/delete" method="POST"><button>supprimer</button></form> --}}
{{/each}}
<a href="/movies/new">Add New Movie</a>