<h2>Movies list</h2>

{{#each movies}}
<h4>{{title}}</h4>

<a href="/movies/{{id}}">See more</a>

{{/each}}


<a href="/movies/new">Add movie</a>




<!--(<a href="/books/{{id}}/edit">Edit</a> - <form action="/books/{{id}}/delete" 
method="POST"><button>supprimer</button> 
</form>)!-->