<h2>Add a new movie</h2>

<form action="" method="POST">
<label>
  Title:
  <input type="text" name="title">
</label>

<label>
  Genre:
  <input type="text" name="genre">
</label>

<label>
  Plot:
  <input type="text" name="plot">

</label>

<label>
  Cast:
  <select multiple name="cast">
    {{#each celebrities}}
<option value='{{id}}'>{{name}}</option>
    {{/each}}
  </select>
</label>

<button>Submit</button>
</form>