<h2>Add a new movie</h2>

<form action="" method="POST">
<label>
  Title:
  <input type="text" name="title">
</label>

<label>
  Genre:
  <input type="text" name="genre">
</label>

<label>
  Plot:
  <input type="text" name="plot">

</label>

<button>Submit</button>
</form>